@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

$clr-dark: #000;
$clr-primary: #f27022FF;
$clr-secondary: #745f98FF;
$ff-hallo: 'Nosifer', cursive;

*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
ul{
    list-style-type: square;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: $clr-secondary;
}
::-webkit-scrollbar-thumb{
    background-color: $clr-primary;
}

// mixins
@mixin socialBtns {
    color: #fff;
        padding: 0.8rem;
        margin: 0.1rem;
        border-radius: 10px;
        &:hover{
            filter: brightness(0.8);
        }
}


// *************************** components ***************************
.header{
    transition: all 0.5s ease;
    &.active-scroll{
        background-color: #000;
        img{
            height: 120px;
        }
    }
    .nav-link{
        color: #fff;
        font-size: 0.9rem;
        font-weight: bold;
        &:hover{
            color: $clr-secondary;
        }
    }
    .btn{
        color: white;
    }
    .nav-item .btn{
        border: 2px solid black;
        border-radius: 50px;
        padding: 0.4rem;
        font-size: 0.8rem;
    }
    img{
        transition: all 0.5s;
        height: 100px;
    }

    .open-nav{
        display: none;
    }
    .close-nav{
        display: none;
    }
    @media only screen and (max-width: 750px) {
        .open-nav{display: block;} 
        .close-nav{
            display: block;
            margin: 1rem auto;
            font-size: 2rem;
        }
        .nav-list{
            background-color: #000;
            position: fixed;
            top: 0;
            left: -300px;
            bottom: 0;
            flex-direction: column;
            padding: 1rem;
            border-right: 2px solid $clr-secondary;
            transition: all 0.5s linear;
            .nav-link{
                font-size: 1.2rem;
            }
            &.active{
                left: 0;
            }
        }
    }
}
.hero{
    background-image: url('./media/hero-bg.jpeg');
    background-position: bottom bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 100vh;
    h1{
        font-family: $ff-hallo;
        animation: pulseAnim 2s ease 0s 1 normal forwards;
    }
    .btn-primary-btn{
        color: #fff;
        background-color: $clr-secondary;
        font-size: 1.2rem;
        border-radius: 50px;
        padding: 0.5rem 2rem;
    }
    .hero-content{
        background-color: #745F985E;
        border: 1px solid $clr-secondary;
        border-radius: 10px;
        word-wrap: break-word;
    }
    .social-icons button{
        @include socialBtns();
    }
    @keyframes pulseAnim {
        0% {
            animation-timing-function: ease-out;
            transform: scale(1);
            transform-origin: center center;
        }
    
        10% {
            animation-timing-function: ease-in;
            transform: scale(0.91);
        }
    
        17% {
            animation-timing-function: ease-out;
            transform: scale(0.98);
        }
    
        33% {
            animation-timing-function: ease-in;
            transform: scale(0.87);
        }
    
        45% {
            animation-timing-function: ease-out;
            transform: scale(1);
        }
    }
}
.about{
    .social-icons button{
        @include socialBtns();
    }
}
.tokenomics{
    h2, h4, h6{
        font-weight: 700;
    }
    background-color: $clr-secondary;
    .container{
        background-image: url('./media/bg-banner.png');
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .columns{
        border-radius: 20px;
        transition: all 0.3s ease;
        &:hover{
            background-color: #F2702240;
        }
    }
}
.documents{
    background-color: $clr-secondary;
    .container{
        background-color: #000;
        border-radius: 20px;
    }
    .checks{
        display: flex;
        flex-wrap: wrap;
        column-gap: 6rem;
        row-gap: 1rem;
        align-items: center;
        font-weight: 700;
        font-size: 1.2rem;
        .check{
            background-color: $clr-primary;
            border-radius: 50%;
            padding: 10px;
            color: #000;
            margin-right: 1rem;
        }
    }
    .dropdown-container{
        position: relative;
        text-align: center;
        width: 200px;
        height: 60px ;
        .dropdown-text{
            background-color: $clr-primary;
            padding: 1rem;
            border-radius: 50px;
            transition: all 0.2s linear;
        }
        cursor: pointer;
        &:hover{
            .dropdown-text{border-radius: 50px 50px 0 0;}
            .dropdowns{
                display: block;
            }
        }
        .dropdowns{
            display: none;
            position: absolute;
            background-color: $clr-primary;
            top: 3.5rem;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}
.roadmap{
    .vertical-timeline::before{
        width: 0;
        background-color: transparent;
        border: 2px dashed $clr-primary;
    }
}
.faq-section{
    .styles_faq-row-wrapper__3vA1D{
        background: none;
    }
    @mixin faqText {
        font-size: 0.8rem;
        color: #fff;
        padding: 0.5rem 1rem;
    }
    // heading
    .styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY{
        @include faqText();
    }
    // content
    .styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-content__QOGZd .styles_row-content-text__2sgAB{
        @include faqText();
    }
    // icon
    .styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_icon-wrapper__2cftw svg{
        fill: #fff;
    }
    // border
    .styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c{
        border-top: 1px solid #ccc;
    }
}
footer{
    hr{
        border-color: $clr-secondary;
        border-width: 4px;
    }
}


// *************************** overrides ***************************



// *************************** utils ***************************
.bar{
    display: inline-block;
    width: 80px;
    margin-right: 1rem;
    border-bottom: 2px solid white;
}